ATSData/Service References/ServiceReference1/InventoryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dell.AvailableToSell.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dell.AvailableToSell.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductATS">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableToSell" type="xs:int" />
      <xs:element minOccurs="0" name="InventoryLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InventoryStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFastTrackEligible" type="xs:boolean" />
      <xs:element minOccurs="0" name="LeadTime" type="xs:int" />
      <xs:element minOccurs="0" name="SKU" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductATS" nillable="true" type="tns:ProductATS" />
</xs:schema>