ATSData/Service References/ServiceReference1/InventoryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.dell.com/AvailableToSell/Inventory" elementFormDefault="qualified" targetNamespace="http://schemas.dell.com/AvailableToSell/Inventory" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://atsservice.dell.com/Dell.AvailableToSell.ServiceHost/InventoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dell.AvailableToSell.Services.Inventory" />
  <xs:element name="ReportInventoryBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dell.AvailableToSell.Services.Inventory" minOccurs="0" name="request" nillable="true" type="q1:ReportInventoryBalanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportInventoryBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dell.AvailableToSell.Services.Inventory" minOccurs="0" name="ReportInventoryBalanceResult" nillable="true" type="q2:ReportInventoryBalanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RepublishMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dell.AvailableToSell.Services.Inventory" minOccurs="0" name="request" nillable="true" type="q3:RepublishMessageRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RepublishMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dell.AvailableToSell.Services.Inventory" minOccurs="0" name="RepublishMessageResult" nillable="true" type="q4:RepublishMessageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxMessageSequenceNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dell.AvailableToSell.Services.Inventory" minOccurs="0" name="request" nillable="true" type="q5:GetMaxMessageSequenceNumberRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxMessageSequenceNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dell.AvailableToSell.Services.Inventory" minOccurs="0" name="GetMaxMessageSequenceNumberResult" nillable="true" type="q6:GetMaxMessageSequenceNumberResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AvailableToSellBySKU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dell.AvailableToSell.Services.Inventory" minOccurs="0" name="request" nillable="true" type="q7:AvailableToSellBySKURequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AvailableToSellBySKUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dell.AvailableToSell.Services.Inventory" minOccurs="0" name="AvailableToSellBySKUResult" nillable="true" type="q8:AvailableToSellBySKUResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionalInventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dell.AvailableToSell.Services.Inventory" minOccurs="0" name="request" nillable="true" type="q9:GetRegionalInventoryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionalInventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dell.AvailableToSell.Services.Inventory" minOccurs="0" name="GetRegionalInventoryResult" nillable="true" type="q10:GetRegionalInventoryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>