Backup/ATSData/Service References/ProductService/ProductService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dell.AvailableToSell.Services.Dashboard" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dell.AvailableToSell.Services.Dashboard" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMasterProductType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MasterProductType" nillable="true" type="tns:MasterProductType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMasterProductType" nillable="true" type="tns:ArrayOfMasterProductType" />
  <xs:complexType name="MasterProductType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterProductType" nillable="true" type="tns:MasterProductType" />
</xs:schema>